<% include ../partials/Header %>

<body>
	<div class="wrapper">
		<% include ../partials/RightBar %>

		<div class="main">
			<% include ../partials/SearchBar %>

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3><strong>Thống kê</strong> </h3>
						</div>

						<div class="col-auto ml-auto text-right mt-n1">
							<nav aria-label="breadcrumb">
								<!-- <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
									<li class="breadcrumb-item"><a href="#">AdminKit</a></li>
									<li class="breadcrumb-item"><a href="#">Dashboards</a></li>
									<li class="breadcrumb-item active" aria-current="page">Analytics</li>
								</ol> -->
							</nav>
						</div>
					</div>
					<!-- Thống kê -->
					<div class="row">
						<div class="col-xl-6 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">Sản phẩm đã bán</h5>
												<h1 class="display-5 mt-1 mb-3"><%= saledQuan %></h1>
												<!-- <div class="mb-1">
													<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
													<span class="text-muted">So với tuần trước</span>
												</div> -->
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">Tài khoản khách hàng</h5>
												<h1 class="display-5 mt-1 mb-3"><%= numAcc %></h1>
												<!-- <div class="mb-1">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
													<span class="text-muted">So với tuần trước</span>
												</div> -->
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">Doanh thu</h5>
												<h1 class="display-5 mt-1 mb-3"><%= total %> VND</h1>
												<!-- <div class="mb-1">
													<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
													<span class="text-muted">So với tuần trước</span>
												</div> -->
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<h5 class="card-title mb-4">Đơn hàng</h5>
												<h1 class="display-5 mt-1 mb-3"><%= numOrder %></h1>
												<!-- <div class="mb-1">
													<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
													<span class="text-muted">So với tuần trước</span>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<h5 class="card-title mb-0">Tình trạng đơn hàng</h5>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
										<div class="py-3">
											<div class="chart chart-xs">
												<canvas id="chartjs-dashboard-pie"></canvas>
											</div>
										</div>

										<table class="table mb-0">
											<tbody>
												<tr>
													<td>Đơn đặt mới</td>
													<td class="text-right"><%= orderInfor.orderNew %></td>
												</tr>
												<tr>
													<td>Đơn đã huỷ</td>
													<td class="text-right"><%= orderInfor.orderCancel %></td>
												</tr>
												<tr>
													<td>Đơn bị khách huỷ</td>
													<td class="text-right"><%= orderInfor.orderCusCancel %></td>
												</tr>
												<tr>
													<td>Đơn hàng đang giao</td>
													<td class="text-right"><%= orderInfor.orderShipping %></td>
												</tr>
												<tr>
													<td>Đơn đã giao</td>
													<td class="text-right"><%= orderInfor.orderSuccess %></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			<% include ../partials/Footer %>
		</div>
	</div>
	<script src="js/app.js"></script>

	<script>
		$(document).ready(function () {
			$.ajax({
				url: 'getData',
				type: 'GET',
				data: null,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function (result) {
				// alert("ádadasd"+ result)
				new Chart(document.getElementById("chartjs-dashboard-pie"), {
					type: 'pie',
					data: {
						labels: ["Đơn hàng mới", "Đơn hàng đã giao", "Đơn hàng đang giao", "Đơn hàng đã huỷ", "Đơn hàng bị khách huỷ"],
						datasets: [{
							data: [result.orderInfor.orderNew, result.orderInfor.orderSuccess, result.orderInfor.orderShipping, result.orderInfor.orderCancel, result.orderInfor.orderCusCancel],
							backgroundColor: [
								window.theme.primary,
								"#00FF00",
								window.theme.warning,
								window.theme.danger,
								window.theme.danger
							],
							borderWidth: 5
						}]
					},
					options: {
						responsive: !window.MSInputMethodContext,
						maintainAspectRatio: false,
						legend: {
							display: false
						},
						cutoutPercentage: 75
					}
				});
			}).fail((error) => {
				alert("Không kết nối được với server")
			})
		})
	</script>
	<script>
		$(function () {
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: 'pie',
				data: {
					labels: ["Đơn hàng mới", "Đơn hàng đã giao", "Đơn hàng đang giao", "Đơn hàng đã huỷ", "Đơn hàng bị khách huỷ"],
					datasets: [{
						data: [orderInfor.orderNew, orderInfor.orderSuccess, orderInfor.orderShipping, orderInfor.orderCancel, orderInfor.orderCusCancel],
						backgroundColor: [
							window.theme.primary,
							window.theme.primary,
							window.theme.primary,
							window.theme.warning,
							window.theme.danger
						],
						borderWidth: 5
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					cutoutPercentage: 75
				}
			});
		});
	</script>
	<script>
	</script>
</body>

</html>